@model IEnumerable<BancoJC.Models.CuentaBancaria>

<h2>Listado de Cuentas Bancarias</h2>

@if (Model != null && Model.Any())
{
    <table>
        @foreach (var cuenta in Model)
        {
            <tr>
                <td>@cuenta.NombreTitular</td>
                <td>@cuenta.TipoCuenta</td>
                <td>@cuenta.SaldoInicial</td>
                <td>@cuenta.Email</td>
            </tr>
        }
    </table>
}
else
{
    <p>No se encontraron cuentas bancarias.</p>
}
